
<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Angular</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="controller/app.js"></script>
   
<script>
    var app = angular.module('myApp', []);
app.controller('conterclock', function(){
  $scope.time = 0;
});
</script>
</head>
<body >
<div ng-app="myApp"></div>
<div class="counterclock"  ng-controller="counterclock">
  <h1>time starts now {{time}} </h1>
  <button class="btn btn-info" ng-click="start()">start</button>
    <button class="btn btn-primary" ng-click="stop()">stop</button>
  <button class="btn btn-success" ng-click="ellapse()">ellapse</button>
</div>
</div>
</body>
</html>