<html>
    <head><title>angular form</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="controller/app.js"></script>
    </head>
    <body ng-app="app" ng-controller="main">
           <!-- FORM ============ -->
  
    <form name="userForm" ng-submit="submitForm()" novalidate>
        
        <!-- EMAIL -->
        <div>
            <label>Email</label>
        <input placeholder="Email" name="email" type="email" ng-model="user.email" required />
        <span ng-show="userForm.email.$dirty && userForm.email.$error.required">Email is required.</span>
        <span ng-show="userForm.email.$dirty && userForm.email.$error.email">Invalid Email address.</span>
      </div>
    <div>
        <label>Password</label>
    <input type="password" name="password" ng-model="password" required>
    <span ng-show="userForm.password.$dirty && userForm.password.$error.required">Please enter password</span>
      </div>
        <button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid">Submit</button>
        
    </form>
    </body>
</html>